# yii console commands
/yii
/yii_test
/yii_test.bat

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

/origin_images/*
!/origin_images/noimage.png
/frontend/web/images/**
!/frontend/web/images/city_silhouette.png
!/frontend/web/images/fb.png
!/frontend/web/images/icon_cart.png
!/frontend/web/images/insta.png
!/frontend/web/images/logo.png
!/frontend/web/images/logo-top.png
!/frontend/web/images/telegram.png
!/frontend/web/images/viber.png
!/frontend/web/images/vk.png
!/frontend/web/images/watermark.png
!/frontend/web/images/whats_up.png

*/web/assets/*
!*/web/assets/.gitkeep
runtime/*
!runtime/.gitkeep
